/*css3 design scrollbar*/
::-webkit-scrollbar {
	padding: 3px;
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #940752;
}

::-webkit-scrollbar-corner {
	border-radius: 30%;
}
